<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="">
</head>

<body class="">
    <div class="wrapper d-flex flex-column ">
        <div class="card mb-4">
            <div class="card-header">Registerd Managers</div>
            <div class="card-body">
                <div class="example">

                    <div class="tab-content rounded-bottom">
                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped border datatable dataTable no-footer"
                                            id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info"
                                            style="border-collapse: collapse !important">
                                            <thead>
                                                <tr>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Username: activate to sort column descending"
                                                        style="width: 244.85px;">Username</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Date registered: activate to sort column ascending"
                                                        style="width: 184.788px;">Email</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Date registered: activate to sort column ascending"
                                                        style="width: 184.788px;">Phone</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Role: activate to sort column ascending"
                                                        style="width: 90.7px;">Approved</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each manager}}
                                                <tr>
                                                    <td>{{this.username}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.phone}}</td>
                                                    <td>{{#if this.approved}}Yes{{else}}No{{/if}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>