<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper d-flex flex-column">
        <div class="card mb-4">
            <div class="card-header" style="text-align: center;">
                <h2 class="card-title mb-0">No Applications Available At This Time</h2>
            </div>
            <div class="card-body">
                <div style="text-align: center;">
                    <a href="/admin" class="btn btn-outline-primary mt-3" >Return To Dashboard</a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>