<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class=" wrapper d-flex flex-column">
        <div class="card mb-4">
            <div class="card-header">
                <div class="card-body" style="text-align: center;">
                    <h3 >You Are Not Assigned To A Station Yet!</h3>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>

    </div>
</body>

</html>